{% extends 'base.html' %}

{% block content %}
<nav class="nav flex-column">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<ul class='tracks'>
  <h2>Posts <a href="{% url 'post_create' %}">+</a></h2>
  {% for post in posts %}
  <a href="{% url 'post_detail' pk=post.pk %}">
    <li class='track'>
      <img src="{{post.photo_url}}" />
      {{ post.content }}
      Submitted by: {{post.user.username}}
    </li>
  </a>
  {% endfor %}
</ul>
{% endblock %}
