{% extends 'base.html' %}

{% block content %}

<h1 class="profile-name">{{user.username}}</h1>
<section>
    <ul class="tracks">
        <h2>Submitted Posts</h2>
            {% if posts %}
        {% for post in posts %}
        <a href="{% url 'post_detail' pk=post.pk %}">
            <li class='track'>
                <img src="{{post.photo_url}}" />
                {{ post.name }}
            </li>
        </a>
        {% endfor %}
        {% else %}
        <h2>You have no Submitted Posts. Add one now!</h2>
        {% endif %}
    </ul>
</section>

{% endblock %}