<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Bootstrap css -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <link rel="stylesheet" href="../static/css/main.css">
   <title>Document</title>
</head>

<body>
   <div id="login">
      {% if error%}
      <p> style="background-color: firebrick;">{{error}}</p>
      {% endif %}
      <section class="form-section">
         <form action="{% url 'login' %}" method="POST" class="artist-form">
            {% csrf_token %}
            <p>
               <label for="username">Username</label>
               <input type="text" name="username" required maxlength="25" minlength="2">
            </p>
            <p>
               <label for="password">Password</label>
               <input type="text" name="password" required maxlength="25" minlength="4">
            </p>
            <button type="submit">Login</button>
         </form>
      </section>
   </div>
   <div class="container">
      <div class="wrapper">
         <img class="image" src="https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/02/Twitter.jpg"
            alt="twitter" />
         <div class="list">
            <ul>
               <li>Follow your interests</li>
               <li>Hear what people are talking about</hi>
               <li>Join the conversation</li>
            </ul>
         </div>
      </div>
      <div class="welcome">
         <h3>See what's happening in the world now</h3>
         <br />
         <br />
         <p>Just join Twitter today</p>
         <button><a href="{% url 'login' %}">Login</a></button>
         <button><a href="{% url 'register' %}">Sign Up</a></button>
      </div>
   </div>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>