{% extends 'base.html' %}

{% block content %}
   <div class="wrapper">
      <h3>You're one step away from the shiny new Twitter.com</h3>
      <ul>
         <li># Explore</li>
         <li>Bookmarks</hi>
         <li>Personalize</li>
      </ul>
   </div>
   
   <div class="col-md-6 col-sm-6 col-xs-12">
      <ul class="menu list-inline">          
         <li>
            <a href="#">About</a>
         </li>
         <li>
            <a href="#">Help</a>
         </li>            
         <li>
            <a href="#">Home</a>
         </li>
         <li>
            <a href="#">Gallery</a>
         </li>
         <li>
            <a href="#">Contact</a>
         </li>
      </ul>
   </div>
   <div class="copyright">
    <div class="container">
        <div class="row text-center">
           <p>Copyright © 2019 All rights reserved</p>
        </div>
    </div>
</div>
  {% endfor %}

{% endblock %}




