
 {% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="wrapper">
   <img class ="image" src="https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/02/Twitter.jpg" alt="twitter" />
   <div class="list">
      <ul>
         <li>Follow your interests</li>
         <li>Hear what people are talking about</hi>
         <li>Join the conversation</li>
      </ul>
      </div> 
   </div>
   <div class="welcome">
      <h3>See what's happening in the world now</h3>
      <br />
      <br />
      <p>Just join Twitter today</p>
      <button><a href="{% url 'login' %}">Login</a></button>
      <button><a href="{% url 'register' %}">Sign Up</a></button>
   </div>
</div>
{% endblock %}






