:root {
  /* colors */

  --green: rgb(30, 215, 96);
  --red: rgb(215, 30, 55);
  --light-black: rgb(40, 40, 40);
  --black: rgb(24, 24, 24);
  --grey: rgb(170, 170, 170);
  --sand: rgb(200, 200, 200);
  --white: rgb(255, 255, 255);
  /* spacing */
  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding: 15px;
  --padding-lg: 30px;
  --padding-xl: 60px;
  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin: 15px;
  --margin-lg: 30px;
  --margin-xl: 60px;
}


.container-class {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav tweet"
        "nav posts"
        ". posts"
        ". posts"
        ". posts";
    grid-gap: 1em;
}

.login-container {
    grid-area: header;
}

.navigation-container {
    grid-area: nav;
}

.text-area-container {
    grid-area: tweet;
}

.tracks-container {
    grid-area: posts;
}

/* .form-section {
  visibility: visible;
  height: 200px;
} */

/* jacky's welcome page CSS */
.wrapper {
  position: relative;
  /* height: 100vh;
    width: 40vw; */
}

.list {
  position: absolute;
  top: 100px;
  left: 80px;
}

.list ul {
  font-size: 30px;
  list-style: none;
  color: white;
  text-align: center;
  line-height: 2.6em;
}

.image {
  background-size: cover;
}

.welcome {
  margin: 20px;
  padding: 20px;
  line-break: auto;
  line-height: 2em;
}

.main {
  display: flex;
}

.t-image {
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 1rem auto;
  /* margin-left: auto;
  margin-right: auto; */

}

.flex-column {
  margin: 30px;
  padding: 30px;
  width: 25%;
  line-height: 3em;
}

h3 {
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* .wrapper { 
    background-color: blue;
    color: white;
}*/

.container {
  display: flex;
  position: relative;
  text-align: center;
  margin: 25px;
}

/* #login {
    float: right;
} */

/* .navigation {
    display: inline;
    color: black!important;
} */

/* .text-area {
    display: inline;
} */

.navigation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "t-image"
        "link1"
        "link2"
        "link3"
        "link4";
    font-size: 35px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.navigation-container a:hover {
color: lightskyblue;
}

.button {
    margin: 1rem 5rem;
    padding: 0.7rem;
    font-size: 1.6rem;
    background-color: white!important;
    border: 0px solid white;
    border-radius: 60px;
    text-decoration: none!important;
    transition-duration: 0.4s;
    
}

.button:hover {
    background: #38a1f2!important;
    color: white;
}

/* .link {
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
} */

a.link:hover {
    text-decoration: none;
    color: white;
}

.track {
    display: block;
}

.wrapper {
  background-image: url('https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/02/Twitter.jpg');
  color: white;

}
.something {
  color: var(--green)!important;
}